<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Glody Figueiredo</h5>
      
            <h1>Pontução <span class="badge bg-secondary">7</span></h1>
            <button type="button" class="btn btn-info" (click)="openPopup()">Ver Feedback</button>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Glody Figueiredo</h5>
     
            <h1>Pontução <span class="badge bg-secondary">7</span></h1>
            <button type="button" class="btn btn-info" (click)="openPopup()">Ver Feedback</button>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Glody Figueiredo</h5>
     
            <h1>Pontução <span class="badge bg-secondary">7</span></h1>
            <button type="button" class="btn btn-info" (click)="openPopup()">Ver Feedback</button>

   
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Glody Figueiredo</h5>
       
            <h1>Pontução <span class="badge bg-secondary">7</span></h1>
            <button type="button" class="btn btn-info" (click)="openPopup()">Ver Feedback</button>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
   <div class="col">
    <div class="card h-100">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Glody Figueiredo</h5>
        
            <h1>Pontução <span class="badge bg-secondary">7</span></h1>
            <button type="button" class="btn btn-info" (click)="openPopup()" >Ver Feedback</button>

      
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Glody Figueiredo</h5>
        
            <h1>Pontução <span class="badge bg-secondary">7</span></h1>
            <button type="button" class="btn btn-info"  (click)="openPopup()" >Ver Feedback</button>

      
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Glody Figueiredo</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row height d-flex justify-content-center align-items-center">
                        <div class="col-md-11">
                            <div class="card">
                                <div class="p-3">
                                    <h6>Feedback</h6>
                                </div>
                               
                                <div class="mt-2">
                                    <div class="d-flex flex-row p-3"> 
                                        <div class="w-100">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-row align-items-center"> <span class="mr-2">Brian selter</span>  </div> <small>12h ago</small>
                                            </div>
                                            <p class="text-justify comment-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                           
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row p-3"> 
                                        <div class="w-100">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-row align-items-center"> <span class="mr-2">Seltos Majito</span> </div> <small>2h ago</small>
                                            </div>
                                            <p class="text-justify comment-text mb-0">Tellus in hac habitasse platea dictumst vestibulum. Lectus nulla at volutpat diam ut venenatis tellus. Aliquam etiam erat velit scelerisque in dictum non consectetur. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Aliquam faucibus purus in massa.</p>
                                           
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row p-3"> 
                                        <div class="w-100">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-row align-items-center"> <span class="mr-2">Maria Santola</span> </div> <small>12h ago</small>
                                            </div>
                                            <p class="text-justify comment-text mb-0"> Id eu nisl nunc mi ipsum faucibus. Massa massa ultricies mi quis hendrerit dolor. Arcu bibendum at varius vel pharetra vel turpis nunc eget. Habitasse platea dictumst quisque sagittis purus sit amet volutpat. Urna condimentum mattis pellentesque id.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
